<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <!--DataBase ConntionString-->
    <add name="conn" connectionString="Data Source=.;Initial Catalog=NEWONESFAScylla;User ID=sa;Password=!!123abc" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Your NameSpace-->
    <add key="namespace" value="DbToEntity.Entity"/>
    <!--Your Name-->
    <add key="author" value="Jerry"/>
  </appSettings>
</configuration>
